*{
    margin: 0;
    padding: 0;
    
}
html{
    overflow-x: hidden;}
section{
    width: 300px;
    height: 300px;
    border: 10px solid #6a6fae;
}
nav{
    width: 100%;
    height: 15vh;
    background-color: #641212;
   

    .navbar{
        height: 15vh;
       display: flex;
       justify-content: space-around;
       align-items: center;
       color: #444000;
       position: relative;

       h1{
           color: #fff;
           font-size: 24px;
           font-family:"cursive",sans-serif;
       }

       .nav-link{
           display: flex;
           flex-basis:38% ;
           justify-content: space-around;

           li{
               list-style: none;

               a{
                   font-size: 20px;
                   text-decoration: none;
                   color:#fff;
               }
           }
       }
    }

}

.hamberger{
    display: none;
}
@media only screen and(max-width:900px){
     .hamberger{
         display: block;
         font-size: 25px;
         color: #eee;
     } 

     .nav-link{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 15vh;
        right: -100%;
        z-index: 100;
        width: 50%;
        height: calc(100vh - 40vh);
        background: rgba(0,0,0,.6);
        transition:all .9s ease;

        li{
            background: transparent;
            border: 1px solid #999;
            padding: 8px 65px;
            transition: 1s linear;
          
            &:hover{
                background-color: #0b290d;
                
            }
        }
       
    }

     


}

.nav-link.active{
    right:0;
}




.display{
    width:100%;
    height: 200px;
    background-color: #641212;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.display2{
    position: relative;
    width:100%;
    height: 200px;
    background-color: #641212;
    color: #fff;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    .circle{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: royalblue;


    }
}
.love{
    width:100%;
    height: 200px;
    background-color: #641212;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #e1e44c;
    
     
    .face{
        display: flex;
        justify-content: center;

        .eye{
            width: 25px;
            height: 25px;
            margin: 10px;
            margin-top: 22px;
            border-radius: 15px;
            background-color: #111;
           
        }

       
   
     }

     .sad-mouth{
        width: 40px;
        height: 15px;
        border-top-left-radius: 100px;
        border-top-right-radius:100px ;
        border: 9px solid #000;
        border-bottom: 0;
        margin: auto;
       
    }
    .happy-mouth{
       width: 40px;
       height: 15px;
       border-bottom-left-radius: 100px;
       border-bottom-right-radius:100px ;
       border: 9px solid #000;
       border-top: 0;
       margin: auto;
      
    }

   
}






.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(143, 170, 132);
    position: relative;
  
}
.safin{
 
  width: 250px;
  height: 150px;
  background-color: #fff;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  text-transform: uppercase;
  font-family: "poppins",sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #881488;
 
  
 
     img{
         position: absolute;
         top:50%;
         left: 50%;
         transform: translate(-50% ,-50%);
         width: 250px;
         margin: 0;
         clip-path: path('M213.1,6.7c-32.4-14.4-73.7,0-88.1,30.6C110.6,4.9,67.5-9.5,36.9,6.7C2.8,22.9-13.4,62.4,13.5,110.9 C33.3,145.1,67.5,170.3,125,217c59.3-46.7,93.5-71.9,111.5-106.1C263.4,64.2,247.2,22.9,213.1,6.7z');
         object-fit: cover;
         transition: all 2s ease-in-out;

         &:hover{
             transform: scale(1.3);
         }
      }
}

.sadman{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #bf10ff;
}